@page
@model Fritz.ResourceManagement.Web.Pages.AvailabilityModel
@{
    ViewData["Title"] = "Availability";
}

<h1>Availability</h1>

@(await Html.RenderComponentAsync<Availability>())
<div id="Availability">
	@(await Html.RenderComponentAsync<Fritz.ResourceManagement.Web.Components.Availability>())
</div>
