@page
@using Fritz.ResourceManagement.Web.Components
@model Fritz.ResourceManagement.Web.Pages.AvailabilityModel
@{
    ViewData["Title"] = "Availability";
}

<h1>Availability</h1>

@(await Html.RenderComponentAsync<Availability>())
