@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Enter your <a href="/Availability">availability</a></p>

	<p>Managers view the schedule here:  <a href="/ManagerView">Manager Schedule View</a></p>
</div>
