@page
@inject UserManager<MyUser> MyUserManager
@{
    ViewData["Title"] = "Availability";
    ViewData["ActivePage"] = ManageNavPages.Availability;

		var userId = Guid.Parse(MyUserManager.GetUserId(User));

}

<h4>@ViewData["Title"]</h4>

My UserId: @userId

<div id="Availability">
	@{await Html.RenderComponentAsync<Fritz.ResourceManagement.Web.Components._Availability>(new {UserId=userId}); }
</div>

@section Scripts {
	
<script src="_framework/blazor.server.js" autostart="false"></script>
<script>
  Blazor.start({
    configureSignalR: function (builder) {
      builder.configureLogging(2); // LogLevel.Information
    }
  });
</script>

}

@section BeforeHead {

	<base href="~/" />

}