@page "/_Availability"
@inject System.Security.Claims.ClaimsPrincipal CurrentUser
@inject Models.MyDbContext DbContext

<h5>This is the availability component</h5>

Current User: @CurrentUser.Identity.Name

Total persons: @DbContext.Persons.Count()

@functions {

	void GetMyAvailability()
	{

		// DbContext.Persons.First(p => p.User)

	}

}