<div style="width: 20em;">

	<div id="navrow">
		<button onclick="PrevMonth">&lt;</button>
		<span>@StartDate.ToString("MMMMM")</span>
		<button onclick="NextMonth">&gt;</button>
	</div>
	<div id="dowRow">
		<span>Su</span>
		<span>M</span>
		<span>Tu</span>
		<span>W</span>
		<span>Th</span>
		<span>F</span>
		<span>Sa</span>
	</div>

</div>


@functions {

	[Parameter]
	DateTime StartDate { get; set; } = DateTime.Today;

	void PrevMonth()
	{
		StartDate = StartDate.AddMonths(-1);
		StartDate = StartDate.AddDays(DateTime.DaysInMonth(StartDate.Year, StartDate.Month));
	}

	void NextMonth()
	{
		StartDate = StartDate.AddMonths(1);
		StartDate = StartDate.AddDays(DateTime.DaysInMonth(StartDate.Year, StartDate.Month));
	}

}