<h3>Schedule View</h3>

<div class="weekview">
	<span><DayView></DayView></span>
	<span><DayView></DayView></span>
	<span><DayView></DayView></span>
	<span><DayView></DayView></span>
	<span><DayView></DayView></span>
	<span><DayView></DayView></span>
	<span><DayView></DayView></span>
</div>

@functions {

}
