<h3>Schedule View</h3>

<div class="weekview">
	<span><DayView ShowTimes="true"></DayView></span>
	<span><DayView ShowTimes="false"></DayView></span>
	<span><DayView ShowTimes="false"></DayView></span>
	<span><DayView ShowTimes="false"></DayView></span>
	<span><DayView ShowTimes="false"></DayView></span>
	<span><DayView ShowTimes="false"></DayView></span>
	<span><DayView ShowTimes="false"></DayView></span>
</div>

@functions {

}
