@inject ViewModels.NavMenuViewModel Model

<BSNavbar IsDark="false" Color="Color.Light" Class="navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
	<div class="container">
		<BSNavbarBrand Href="#">Fritz.ResourceManagement.Web</BSNavbarBrand>
		<BSNavbarToggler onclick="Model.ToggleNavMenu" />
		<BSCollapse isOpen="Model.CollapseNavMenu" IsNavbar="true">
			<BSNav IsList="true" Class="mr-auto" IsNavbar="true">
				<BSNavItem>
					<BSNavLink IsActive="true" Href="#">Home</BSNavLink>
				</BSNavItem>
				<BSNavItem>
					<BSNavLink IsActive="true" Href="/availability">Availability</BSNavLink>
				</BSNavItem>
				<BSNavItem>
					<BSNavLink IsActive="true" Href="/manager">Management Report</BSNavLink>
				</BSNavItem>
				<BSNavItem>
					<Login />
				</BSNavItem>
			</BSNav>
		</BSCollapse>
	</div>
</BSNavbar>