@page "/manager"
@inject ViewModels.ManagerScheduleViewViewModel Model

<h3>Schedule View</h3>

<div id="weekSelector">
	@{ 
		// TODO: Simon G - Do we really need the onclick="() => Model.ChangeDate(-7)" syntax ? Would this not work as onclick="Model.ChangeDate(-7)"?
	}
	<a href="" @onclick="() => Model.OnChangeDate(-7)">&lt;</a>
	@Model.MyScheduleState.DisplayBeginDate.ToShortDateString() - @Model.MyScheduleState.DisplayEndDate.AddDays(-1).ToShortDateString()
	<a href="" @onclick="() => Model.OnChangeDate(7)">&gt;</a>

</div>

<div id="MyScheduleContainer">
	<DayView DayCount="7" DayDisplay="true" MyScheduleState="Model.MyScheduleState"></DayView>
</div>

@code {

	[Parameter]
	DateTime SelectedDate
	{
		get { return Model.SelectedDate; }
		set { Model.SelectedDate = value; }
	}

	protected override async Task OnParametersSetAsync() => await this.Model.OnParametersSetAsync();
}
